@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welkom bij:</h2>
    <h1>Tussen Kunst en Beach</h1>
    <p>Hier leer je meer over eeuwenlange geschiedenis van de Nederlandse kunst op het strand!</p>
</div>
